@use "../_variables.scss" as *;

.plate-container {
  display: flex;
  border: 1.5px solid $primaryColorOne;
  border-radius: 4px;
  height: 36px;
  opacity: 0.92;
}

.plate-section {
  width: 18%;
  border-left: 1.5px solid $primaryColorOne;
  background: rgba(255, 220, 0, 0.28);
}

.plate-section-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 9px;
  font-weight: 600;
  div {
    font-weight: 700;
  }
  .plate-number {
    font-size: 14px;
    font-weight: 700;

    input {
      background-color: transparent;
    }
  }
}

.plate-numbers {
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 24px;
  padding: 0 8px;
  display: flex;
  width: 70%;
  background: rgba(255, 220, 0, 0.28);

  input {
    background-color: transparent;
  }
  p {
    margin-bottom: 0;
    font-weight: 700;
    align-items: end;
    font-size: 20px;
    display: flex;
  }
}

.plate-flag {
  width: 12%;
  justify-content: space-between;
  border-bottom-left-radius: 2px;
  background-color: $plateColor;
  border-top-left-radius: 2px;
  flex-direction: column;
  display: flex;

  .flag-image {
    width: 80%;
    height: 9px;
  }

  .flag-text {
    direction: ltr;
    text-align: left;
    padding-left: 2px;
    font-size: 5.5px;
    color: $colorIllustrator;
  }
}

// Dark mode adjustments
:global(.dark) {
  .plate-container {
    border-color: rgba(255, 255, 255, 0.3);
    opacity: 0.9;
  }
  
  .plate-section {
    border-left-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 220, 0, 0.18);
  }
  
  .plate-numbers {
    background: rgba(255, 220, 0, 0.18);
  }
}
