@use "sass-rem" as *;

$primaryColorOne: #1d1d1d;
$secondaryColorOne: #aa8c78;
$tertiaryColorOne: #fafafa;
// two ==============================
$primaryColorTwo: #666666;
$secondaryColorTwo: #98877b;
$tertiaryColorTwo: #f5f5f5;
// three ==============================
$primaryColorThree: #808080;
$tertiaryColorThree: #e5e5e5;
// other ==============================
// $secondaryColorThree: #98877b;
$tertiaryColorThree: #f0f0f0;
// other ==============================
$primaryColorFour: #bbbbbb;
$primaryColorFive: #2b2b2b;
$primaryColorSix: #333333;
$tertiaryColorFour: #ebebeb;
$tertiaryColorFive: #e6e6e6;
$dangerColor: #dc3545;
$successColor: #42a68c;
$goldColor: #f2a102;
/// last color//
$firstColor: #f9f9f9;
$borderInput: #c8c8c8;
$plateColor: #0043ae;
///////////////////////
///////////////////////
/////// color ////////
///////////////////////
///////////////////////
$colorPrimary: #c7c7c7;
$colorSecondary: #808080;
$colorTertiary: #95877c;
$colorQuaternary: #000000;
//==============================
$colorPrimaryDark: #222222;
$colorSecondaryDark: #045757;
$colorTertiaryDark: #044343;
$colorّQuaternaryDark: #e4e4e4;
//==============================
$activeColor: #007bff;
$doneColor: #498148;
$failedColor: #ff5b5b;
$pendingColor: #ffc107;
$colorBlackLight: #505050;
$lightBootstrap: #f8f9fa;
$colorIllustrator: #f1f1f1;
$isGray: #808080;
//===============================
$skeletonFirstColor: hsl(200, 20%, 80%);
$skeletonSecondColor: hsl(200, 20%, 95%);
///////////////////////////////////
/////////////  theme  /////////////
///////////////////////////////////
$light-text-color: #000000;
$dark-text-color: #eeeeee;
$my-class-bg-light: $tertiaryColorFive;
$my-class-bg-light-bootstrap: $lightBootstrap;
$my-class-bg-dark: $colorPrimaryDark;
///////////////////////////////////
/////////////  others  /////////////
///////////////////////////////////
$font-family: Arya, sans-serif;
$font-family1: IRANSANS, sans-serif;
$en-font-family: "Roboto", sans-serif;
$black-light: rgba(0, 0, 0, 0.1);
$black-light-v2: rgba(0, 0, 0, 0.4);
$background-loading: rgba(255, 255, 255, 0.4);
////////bootstrap///////////////
$bs-dark: $colorPrimaryDark;

////////border-radius///////////////
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 0.75rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;
///////// box-shadow///////////////
$box-shadow-main: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
$box-shadow-sideBar: rem(-24px) 0px rem(68px) rem(-28px) rgba(0, 0, 0, 0.1);
$box-shadow-workFlow-steps: 0px rem(-1px) rem(20px) rem(4px) #d4d4d4;
$box-shadow-secondary-header: 0 0 0 rem(1px) $primaryColorThree inset;
$box-shadow-button: 0px rem(2px) rem(8px) rgba(31, 31, 31, 0.5);
$box-shadow-card: 0px rem(2px) rem(12px) rgba(31, 31, 31, 0.2);
$box-shadow-table: 0px rem(2px) rem(8px) rgba(31, 31, 31, 0.1);
////// z- index /////////////////
$loader-z-index: 1000;
$base-z-index: 10;
// animation
$recordFile: rgba(173, 0, 0);
$recordFileTwo: rgba(173, 0, 0, 0.3);
$recordFileThree: rgba(173, 0, 0, 0);
// filters
$filterMain: drop-shadow(0 rem(2px) rem(8px) rgba(31, 31, 31, 0.1));
