@use "./globals" as *;

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html[lang="fa"] body {
  text-align: right;
  overflow-x: hidden;
}
html[lang="en"] body {
  font-family: $en-font-family;
  text-align: left;
  overflow-x: hidden;
}
a,
ul,
li {
  all: unset;
}
a {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: rem(8px);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 rem(5px) $primaryColorThree;
  border-radius: rem(10px);
} /* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryColorTwo;
}
.main-content {
  min-height: 100vh;
  padding-bottom: rem(80px);
}
.custom-container {
  @media (max-width: 768px) {
    padding: rem(12px);
  }
  @media (min-width: 768px) {
    padding: rem(32px) rem(72px);
  }
}
.main-content-private {
  min-height: 100vh;
}
.dir-ltr {
  direction: ltr !important;
}
.dir-rtl {
  direction: rtl;
}
.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-loading;
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pt-80 {
  padding-top: rem(80px);
}
.en-font {
  font-family: $en-font-family;
}
.pt-64-80 {
  @media (max-width: 768px) {
    padding-top: rem(64px);
  }
  @media (min-width: 768px) {
    padding-top: rem(60px);
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
