@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;
@use "tailwindcss/base" as *;
@use "sass-rem" as *;

@use "@/Styles/components/requestProductDetailsModal" as requestProductDetailsModal;
@use "@/Styles/components/repairReceptionService" as repairReceptionService;
@use "@/Styles/components/cameraBarcodeScanner" as cameraBarcodeScanner;
@use "@/Styles/components/requestListModal" as requestListModal;
@use "@/Styles/page/mechanicPerformance" as mechanicPerformance;
@use "@/Styles/components/dashboardLayout" as dashboardLayout;
@use "@/Styles/page/mechanicManagement" as mechanicManagement;
@use "@/Styles/page/serviceAdmission" as serviceAdmission;
@use "@/Styles/page/leaveManagement" as leaveManagement;
@use "@/Styles/components/vehicleCard" as vehicleCard;
@use "@/Styles/components/styledTable" as styledTable;
@use "@/Styles/components/breadcrumb" as breadcrumb;
@use "@/Styles/components/vehicle" as vehicle;
@use "@/Styles/components/sidebar" as sidebar;
@use "@/Styles/page/dashboard" as dashboard;
@use "@/Styles/components/plate" as plate;
@use "@/Styles/_variables" as variables;
@use "@/Styles/override" as override;
@use "@/Styles/fontiran" as fontIran;
@use "@/Styles/helper" as helper;
@use "@/Styles/base" as base;

body {
  font-family: "IRANSans", sans-serif;
}